@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["ProjectName"] = GetType().Namespace;
}
<section>


<div class="text-center">
    <h1 class="display-4">Welcome to <span class="text-warning small">@ViewData["ProjectName"]</span> </h1>
   
</div>

<div>

    <p>

    </p>
</div>

</section>
